{% extends "base.html" %}
{% load static %}
{% block title %} Noticias {% endblock title %}
{% block content %}
{% include 'includes/header.html' %}

<div class="div-foto-perfil">
  <img
    src="{% static 'img/LOGODESENCHUFADAS2-TRANSPARENTE.svg' %}"
    alt="Logo de Desenchufadas"
  />
</div>

<h1 class="titulo-principal">
  PLATAFORMA DE MEDIOS DIGITALES
</h1>

<section class="seccion-principal">
  <h3>BUSCAR NOTICIAS POR MEDIOS</h3>
  <form method="get" class="formulario-busqueda">
    {% for field in form %}
    <div class="campo-formulario">
      <label class="label-campo">{{ field.label }}</label>
      {{ field }}
    </div>
    {% endfor %}
    <div class="boton-container">
      <button type="submit" class="boton-submit">
        FILTRAR POR MEDIO
      </button>
    </div>
  </form>
</section>

{% endblock content %}
