{% extends "base.html" %} {% load static %}

<html>
  <head>
    {% block meta_og %}
    <meta property="og:title" content="{{ object.titulo }}" />
    <meta property="og:description" content="{{ object.descripcion|truncatechars:120 }}" />
    <meta property="og:image" content="{{ object.portada }}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:type" content="article" />
    {% endblock %}


    <title>{% block title %} NOTICIA COMPARTIDA {% endblock title %}</title>
    <style>
      .card {
        max-width: 350px;
        margin: auto;
      }
      .card img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
      }
    </style>
  </head>

  <body>
    {% block content %}
    {% include 'includes/header.html' %}

<div class="noticias-container">
      <div class="noticia-card">
        <p class="noticia-fecha">
          <strong>Fecha de publicación:</strong> {{ object.fecha }}:00 hs
        </p>
                <div class="compartir-redes" style="margin: 32px 0px 32px 0px">
          <p class="titulo_compartir_noticia">COMPARTIR NOTICIA</p>
          <!-- WhatsApp -->
        <a
          href="https://wa.me/?text={{ p.titulo|urlencode }}%0A{{ request.build_absolute_uri|slice:':-1' }}{% url 'noticia_app:noticia_detail_dentro'%}"
          target="_blank"
          title="Compartir por WhatsApp"
        >
          <img
            src="{% static 'img/icons/whatsapp.png' %}"
            alt="WhatsApp"
            width="50"
        />
        </a>
          <!-- Facebook -->
          <a
            href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|slice:':-1' }}{% url 'noticia_app:noticia_detail_dentro'%}"
            target="_blank"
            title="Compartir en Facebook"
          >
            <img
              src="{% static 'img/icons/facebook.png' %}"
              alt="Facebook"
              width="50"
            />
          </a>

          <!-- X (Twitter) -->
          <a
            href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri|slice:':-1' }}{% url 'noticia_app:noticia_detail_dentro'%}"
            target="_blank"
            title="Compartir en X"
          >
            <img src="{% static 'img/icons/x.png' %}" alt="X" width="50px" />
          </a>

          <!-- Copiar enlace -->
          <button
            onclick="copiarTexto('https://{{ request.get_host }}{% url 'noticia_app:noticia_detail_dentro'%}')"
            title="Copiar enlace"
            style="background: none; border: none; cursor: pointer"
          >
            <img
              src="{% static 'img/icons/participacion.png' %}"
              alt="Copiar enlace"
              width="50"
            />
          </button>
        </div>
        <p><strong>Medio:</strong> {{ object.medio }}</p>
        <p><strong>Categoría:</strong> {{ object.categoria }}</p>

        <h4 class="noticia-titulo">{{ object.titulo }}</h4>

        <img src="{{ object.portada }}" alt="Portada" class="noticia-portada" />
          <p><strong>Descripción:</strong> {{ object.descripcion }}</p>
          <p class="p_content_acordeon"><strong>Contenido:</strong> {{ object.contenido|safe }}</p>

          <p style="margin-top: 10px">
            <a href="{{ p.url }}" target="_blank">Leer más</a>
          </p>
          <p><strong>Visitas:</strong> {{ object.visitas }}</p>
      </div>
    </div>

    {% endblock content %}
  </body>
</html>
