{% load static %}  <!-- Corregido -->

<div class="top-bar" style="background-color: black;">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu style="background-color: black; display: flex; align-items: center;">
    <li class="menu-text" style="color: white; font-size: 2em;">Utilidades:</li>
      <li><a href="{% url 'noticia_app:inicio' %}" style="color: white; background-color: #ce00a3; border-radius: 8px; margin-right: 8px; padding: 16px;">INICIO</a></li>
      <li><a href="{% url 'noticia_app:noticia_categoria' %}" style="color: white; background-color: #ce00a3; border-radius: 8px; padding: 16px;">CATEGORIAS</a></li>
    </ul>
  </div>
</div>

<script src="{% static 'js/vendor/jquery.js' %}"></script>
<script src="{% static 'js/vendor/what-input.js' %}"></script>
<script src="{% static 'js/vendor/foundation.min.js' %}"></script>
<script>
  $(document).foundation();
</script>
