.top-bar, .top-bar ul {
    background-color: #0a0a0a;
}
.menu-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
}
.menu-link:hover{
    color:#ce00a3;
}

.title-bar{
    height: 3rem;
}