.top-bar, .top-bar ul {
    background-color: #0a0a0a;
}
.menu-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
}
.menu-link:hover{
    color:#ce00a3;
}

.title-bar{
    height: 3rem;
}


@media (max-width: 768px) {
.top-bar-left ul.dropdown.menu {
  display: flex !important;
  flex-direction: column !important;
}
  /* estilos para pantallas pequeñas */
}

