.div-foto-perfil {
  display: flex;
  justify-content: center;
}
.rango_fechas{
  color:white;
  margin:0px;
}
.logo {
  width: 26rem;
  margin-top: 32px;
}

.titulo-principal {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  margin-top: 8px;
  color: #202123;
  font-weight: bold;
}

.busqueda-noticias {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.116);
  border-radius: 12px;
}

.titulo-buscar {
  background-color: rgba(0, 0, 0, 0.116);
  padding: 16px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  margin-top: 8px;
  color: #202123;
  font-weight: bold;
}

.form-busqueda {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 32px;
}

.input_busqueda {
  background-color: unset;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
}

.btn-consultar {
  padding: 10px 20px;
  background-color: #202123;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-consultar:hover {
  background-color: #202123;
}

.contenedor-noticias {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 40px;
}

.div-cargando {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-spinner {
  margin-right: 8px;
  color: #202123;
}

.texto-cargando {
  font-family: 'Montserrat', sans-serif;
  color: #202123;
}
