{% load static %}  <!-- Corregido -->

<div class="top-bar" style="background-color: black;">
  <div class="top-bar-left" style="background-color: black;">
    <ul class="dropdown menu" data-dropdown-menu style="background-color: black; display: flex; align-items: center; justify-content: center;">
    <li class="menu-text" style="font-family: 'Montserrat', sans-serif; color: white; font-size: 2em;">Utilidades:</li>
      <li><a href="{% url 'noticia_app:inicio' %}" style="font-family: 'Montserrat', sans-serif;color: white;font-weight: bold;  background-color: #ce00a3; border-radius: 8px; margin: 8px; padding: 12px; cursor:pointer">INICIO</a></li>
      <li><a href="{% url 'noticia_app:noticia_categoria' %}" style="font-family: 'Montserrat', sans-serif;color: white;font-weight: bold;  background-color: #ce00a3; border-radius: 8px; margin: 8px; padding: 12px; cursor: pointer">CATEGORIA</a></li>
      <li><a href="{% url 'noticia_app:noticia_medio' %}" style="font-family: 'Montserrat', sans-serif; color: white; font-weight: bold; background-color: #ce00a3; border-radius: 8px; margin: 8px; padding: 12px; cursor: pointer">MEDIOS</a></li>
      <li><a href="{% url 'noticia_app:instagram' %}" style="font-family: 'Montserrat', sans-serif; color: white; font-weight: bold; background-color: #ce00a3; border-radius: 8px; margin: 8px; padding: 12px; cursor: pointer">INSTAGRAM</a></li>
      <li><a href="{% url 'noticia_app:buscador_imagenes' %}" style="font-family: 'Montserrat', sans-serif; color: white; font-weight: bold; background-color: #ce00a3; border-radius: 8px; margin: 8px; padding: 12px; cursor: pointer">BUSCADOR DE IMAGENES</a></li>
  </div>
</div>

<script src="{% static 'js/vendor/jquery.js' %}"></script>
<script src="{% static 'js/vendor/what-input.js' %}"></script>
<script src="{% static 'js/vendor/foundation.min.js' %}"></script>
<script>
  $(document).foundation();
</script>
